{% extends 'base.html' %}

{% block enfant %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h2>promo</h2>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">

                  <a href="{{ url_for('add_from_promo') }}" class="btn btn-primary btn-xs">ajoute</a>
                </div>
               <br>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>N°</th>
                        <th>Nom de promo</th>
                        <th>nom de bailleur</th>
                        <th>nom de formation</th>
                        <th>debut de promo</th>
                        <th>fini de promo</th>
                        <th>action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for row in promo %}
                      <tr>
                          <td>{{ row.0 }}</td>
                          <td>{{ row.1 }}</td>
                          <td>{{ row.2 }}</td>
                          <td>{{ row.3 }}</td>
                          <td>{{ row.4 }}</td>
                          <td>{{ row.5 }}</td>
                          <td>
                              <a class="btn btn-warning btn-xs" href="/upd_promo/{{ row.0 }}">modifier</a>
                              <a href="/delete_promo/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm(' veux tu vraiment  supprimer ?')">Supprimer</a>
                          </td>
                      </tr>

                        {%endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="pagination justify-content-center">
            </div>
        </div>
    </div>

{% endblock %}